:root {
    --background-button: orange;
    --background-color: #191816;
    --background-size-icons: 25px;
    --color-links: orange;
    --font-family: 'Gemunu Libre', sans-serif;
    --font-size-standard: 20px;
    --font-size-title: 25px;
    --form-background: #24221f;
    --text-base: #afb6c2;
    --text-title-color: #d4ccb6;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-family);
}

.header {
    margin: 5%;
}

.main {
    padding: 5% 0;
}
