@import url(/css/style.css);

.containerEnter {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 80%;
}

.button {
    background-color: var(--background-button);
    font-size: var(--font-size-standard);
    font-weight: bold;
    height: 50px;
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.noAccount {
    color: var(--color-links);
    text-align: center;
}

.register {
    color: var(--color-links);
    text-align: center;
    text-decoration: none;
}