@import url(/css/style.css);

.containerLogin {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto 10%;
    text-align: center;
    width: 80%;
}

.labels {
    align-self: flex-end;
    color: var(--text-base);
    font-size: var(--font-size-standard);
    font-weight: bold;
    margin: 10px 0;
    width: 150vw;

}

.input {
    background-color: var(--background-color);
    border: .5px white solid;
    border-radius: 3px;
    font-size: var(--font-size-standard);
    height: 40px;
    width: 90%;
}

.input:focus {
    border: 2px orange solid;
}

.email {
    background-image: url(/assets/mail.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: var(--background-size-icons);
    padding-left: 30px;
}

.email:focus {
    background-image: url(/assets/mail-focus.svg);
    background-size: var(--background-size-icons);
}

.password {
    background-image: url(/assets/lock.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: var(--background-size-icons);
    padding-left: 30px;
}

.password:focus {
    background-image: url(/assets/lock-focus.svg);
    background-size: var(--background-size-icons);
}